{% extends 'base.html' %}
{% block content %}

<section class="ticket-list">
<h1 class="events-header">{{ user|title }}'s Tickets</h1>
{% if tickets|length > 0 %}
  {% for ticket in tickets %}
    
      <div class="card ticket-list-item">
        <span class="card-title card-title-profile">{{ ticket.event.artists }}</span>
        <div class="card-content">
          <p class="ticket-p">Venue: {{ ticket.event.venue.name }}</p>
          <p class="ticket-p">Date: {{ ticket.event.date }}</p>
          <p class="ticket-p">Address: {{ ticket.event.venue.address }}</p>
        </div>
      </div>
  {% endfor %}
{% else %}
  <div class="card ticket-list-item">
    <div class="card-content">
      <h3 class="center ticket-display">No Tickets Yet</h3>
    </div>
  </div>
{% endif %}
</section>

{% endblock %}